# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f230cd74a317e5cb7a51f2e696c41f73"
name = "initi"
application_url = "https://shopify-app-template-remix-pearl.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_locations,write_inventory,write_products"

[auth]
redirect_urls = [
  "https://shopify-app-template-remix-pearl.vercel.app/auth/callback",
  "https://shopify-app-template-remix-pearl.vercel.app/auth/shopify/callback",
  "https://shopify-app-template-remix-pearl.vercel.app/api/auth/callback"
]
